/**
 * Rtl css
 */

.catch-breadcrumb.left .entry-breadcrumbs,
.catch-breadcrumb.left .woocommerce-breadcrumb {
  text-align: right;
}

.wp-block-sidebar .wp-block-archives-list>li,
.wp-block-sidebar .wp-block-categories-list>li {
  text-align: left;
}

.has-drop-cap:not(:focus):first-letter {
  float: right;
  margin: 0.05em 0 0.05em 0.1em;
}

.wc-block-grid__product .wc-block-grid__product-rating {
  margin-right: 1rem;
  margin-left: 0;
}

span.woocommerce-Price-currencySymbol {
  margin-left: 5px;
  margin-right: 0;
}

.wp-block-search .wp-block-search__button {
  border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px 0 0 6px;
}

.wp-block-search .wp-block-search__input {
  border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -o-border-radius: 0 6px 6px 0;
}

.wc-block-components-totals-coupon__form .wc-block-components-totals-coupon__button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
}

.media-content p {
  margin-right: auto;
}

.media-content {
  direction: ltr;
}

.wp-block-widget-area ul,
.wp-block-latest-posts.wp-block-latest-posts__list {
  padding-right: 0;
}

.wp-block-archives-list>li>a,
.wp-block-categories-list>li>a {
  float: right;
}

.wp-block-sidebar .wp-block-archives-list>li,
.wp-block-sidebar .wp-block-categories-list>li {
  padding-left: 0;
  padding-right: 25px;
}

.wp-block-sidebar .wp-block-widget .wp-block-categories li:before {
  left: auto;
  right: 0;
}

.single-product.woocommerce span.onsale {
  left: auto;
  right: 10px;
}

.wp-block-group.wp-block-post-meta>div:not(:last-child):after {
  left: -13px;
  right: auto;
}

.wp-block-latest-posts__list li .wp-block-latest-posts__featured-image {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}

.wp-block-post-comments .comment-author .avatar {
  border-radius: 50%;
  float: right;
  height: 65px;
  margin-right: 0;
  margin-left: 21px;
  width: 65px;
}

.wp-block-post-comments .commentlist .comment {
  padding-left: 0;
  padding-right: 3.25em;
}

.wp-block-post-comments .commentlist>li.comment {
  padding-right: 0;
}

figure.wp-block-pullquote.alignright.has-text-align-right.is-style-catch-fse-pullquote {
  margin-left: 2em;
  margin-right: 0;
}

figure.wp-block-pullquote.alignleft.has-text-align-left.is-style-catch-fse-pullquote {
  margin-left: 0;
  margin-right: 2em;
}

button.wp-block-navigation__responsive-container-close {
  left: auto;
  right: 0;
}

.wp-block-navigation .wp-block-navigation__submenu-container li a:before {
  left: auto;
  right: 0;
}

svg.icon {
  margin-left: 7px;
  margin-right: 0;
}

.contact-section .wp-block-group.section-heading {
  text-align: right;
}

.hero-section ul li {
  padding-left: 0;
  padding-right: clamp(40px, 5vw, 60px);
}

.wp-block-columns.header-media-content {
  flex-direction: row-reverse;
  text-align: left;
}

.hero-section ul li:before {
  left: auto;
  right: 0;
}

.wc-block-grid .wc-block-grid__products li.wc-block-grid__product {
  text-align: right;
}

.wc-block-grid__product .wc-block-grid__product-price {
  float: right;
}

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
  margin-right: 0 !important;
  margin-left: auto !important;
}

.wp-block-post-author__avatar {
  margin-left: clamp(21px, 3vw, 35px);
  margin-right: 0;
}

.post-navigation-link-container .wp-block-columns {
  direction: ltr;
}

.comment-content,
.comment-metadata,
.reply {
  padding-left: 0;
  padding-right: clamp(82px, 8vw, 128px);
}

.is-content-justification-left.wp-block-navigation .has-child .wp-block-navigation__submenu-container .wp-block-navigation__submenu-icon svg {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.wp-block-navigation .has-child .wp-block-navigation__submenu-container {
  left: auto;
  right: 0;
}

.wp-block-navigation .has-child .wp-block-navigation__submenu-container .wp-block-navigation__submenu-container {
  left: auto;
  right: 100%;
}

.hero-section .has-text-align-left {
  text-align: right;
}

.hero-section .hero-content {
  transform: translateX(-20%);
}

.hero-section.transition-element .hero-content {
  transform: translateX(0);
}

.media-content .header-meta:after {
  margin-left: 0;
  margin-right: 15px;
}

.media-content .last-item {
  direction: initial;
}

.woocommerce .woocommerce-message a {
  float: left;
}

.wc-block-grid__product .wc-block-grid__product-onsale {
  left: auto;
}

.upper-footer .detail .wp-block-group figure {
  margin-left: 1.5rem;
  margin-right: 0;
}


.review-section .wc-block-components-review-list li .wc-block-components-review-list-item__image {
  left: auto;
  right: 30px;
}

.footer .wp-block-media-text {
  direction: rtl;
}

.footer .wp-block-media-text .wp-block-media-text__content {
  text-align: right;
}

.wp-block-navigation .wp-block-navigation__submenu-icon {
  margin-left: 0;
  margin-right: 0.25em;
}

.wp-block-group .wp-block-navigation .wp-block-navigation__container .wp-block-navigation-item .wp-block-navigation__submenu-container .wp-block-navigation-item a:before,
.wp-block-group .wp-block-navigation .wp-block-page-list .wp-block-navigation-item .wp-block-navigation__submenu-container .wp-block-navigation-item a:before {
  left: auto;
  right: 0;
}

/* ==============================
           MEDIA QUERIES 
================================= */

@media (min-width: 782px) {
  .wp-block-navigation.items-justified-right .wp-block-navigation__container .has-child .wp-block-navigation__submenu-container .wp-block-navigation__submenu-container {
    right: -100%;
    left: auto;
  }
}


/* --- > 601px
-------------------------------------------------------- */

@media screen and (min-width: 37.5625em) {

  .wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__content {
    padding-left: 13%;
    padding-right: 0;
  }
}


/* --- > 768px
-------------------------------------------------------- */

@media screen and (min-width: 48em) {
  .review-section .wc-block-components-review-list li .wc-block-components-review-list-item__image {
    right: 40px;
  }
}

/* --- > 782px
-------------------------------------------------------- */

@media screen and (min-width: 48.875em) {
  .site-section {
    width: 435px;
  }

  .header .wp-block-navigation {
    position: unset;
  }

  .header .wp-block-navigation__responsive-container-open:not(.always-shown) {
    left: 0;
    right: auto;
  }
}


/* --- > 1024px
-------------------------------------------------------- */

@media screen and (min-width: 64em) {}

@media screen and (min-width: 85.375em) {}

@media screen and (min-width: 85.375em) {
  .woocommerce-cart main .woocommerce .cart-collaterals {
    margin-left: 0;
    width: 25%;
    margin-right: auto;
    padding-left: 0;
    padding-right: 5%;
  }
}

/* --- > 1500px
-------------------------------------------------------- */

@media screen and (min-width:93.75em) {}

/* --- > 1600px
-------------------------------------------------------- */

@media screen and (min-width: 100em) {}