<!-- wp:template-part {"slug":"primary-header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main", "className":"front-main","layout":{"inherit":"true"}} -->
<main class="wp-block-group front-main">

  <!-- wp:pattern {"slug":"udesign/header-media"} /-->
  <!-- wp:pattern {"slug":"udesign/feature-category"} /-->
  <!-- wp:pattern {"slug":"udesign/offer"} /-->
  <!-- wp:pattern {"slug":"udesign/best-seller-product"} /-->
  <!-- wp:pattern {"slug":"udesign/hero-content"} /-->
  <!-- wp:pattern {"slug":"udesign/recent-products"} /-->
  <!-- wp:pattern {"slug":"udesign/services"} /-->
  <!-- wp:pattern {"slug":"udesign/review"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-three-columns","tagName":"footer"} /-->